/**fonte Volkhov**/
@import url('https://fonts.googleapis.com/css?family=Volkhov');


/*-------------------------ADD-------------------------------------*/
.add-input {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    float: left;
}
.panel-form{
  width: 700px;
}
.img-tam{
  width: 200px;
  height: 200px;
}
.cont-left{
  display: inline-block;
  float: left;
}
.cont-right{
  display: inline-block;
  float: right;
}
/*-------------------------ADD-------------------------------------*/

/*-------------------------detalhes-------------------------------------*/
.a-editar{
  margin-top: -20px;
}
.delete{
  border: none!important;
  background-color: #1f1f1f!important;
  margin: -20px 20px 0px 0px;
}
.search-panel{
  margin-right: 20.5%;
}
ul{
  list-style: none;
}
li{
  float: left;
  color: #fff;
}
.li-altura{
  padding-right: 150px;
}
.p-altura{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.p-altura-value{
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.li-peso{
  padding-right: 100px;
}
.p-peso{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.p-peso-value{
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.li-categoria{
  padding-right: 100px;
}
.p-categoria{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.p-categoria-value{
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.li-sexo{
  padding-right: 100px;
}
.p-sexo{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.p-sexo-value{
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.li-tipo{
  width: 400px;
}
.p-tipo{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.container-Fire{
  border-radius: 10px;
  width: 100px;
  background-color: #fd7d24;
  margin: 2px;
}
.container-Grass{
  border-radius: 10px;
  width: 100px;
  background-color: #9bcc50;
  margin: 2px;
}
.container-Poison{
  border-radius: 10px;
  width: 100px;
  background-color: #b97fc9;
  margin: 2px;
}
.container-Bug{
  border-radius: 10px;
  width: 100px;
  background-color: #7038f8;
  margin: 2px;
}
.container-Dragon{
  border-radius: 10px;
  width: 100px;
  background-color: #7038f8;
  margin: 2px;
}
.container-Ghost{
  border-radius: 10px;
  width: 100px;
  background-color: #705898;
  margin: 2px;
}
.container-Ground{
  border-radius: 10px;
  width: 100px;
  background-color: #e6c569;
  margin: 2px;
}
.container-Normal{
  border-radius: 10px;
  width: 100px;
  background-color: #a4acaf;
  margin: 2px;
}
.container-Psychic{
  border-radius: 10px;
  width: 100px;
  background-color: #f366b9;
  margin: 2px;
}
.container-Eletric{
  border-radius: 10px;
  width: 100px;
  background-color: #eed535;
  margin: 2px;
}
.container-Fight{
  border-radius: 10px;
  width: 100px;
  background-color: #c03028;
  margin: 2px;
}
.container-Ice{
  border-radius: 10px;
  width: 100px;
  background-color: #51c4e7;
  margin: 2px;
}
.container-Rock{
  border-radius: 10px;
  width: 100px;
  background-color: #a38c21;
  margin: 2px;
}
.container-Water{
  border-radius: 10px;
  width: 100px;
  background-color: #4592c4;
  margin: 2px;
}
.container-Flying{
  border-radius: 10px;
  width: 100px;
  background-color: #a890f0;
  margin: 2px;
}
.p-tipo-value{
  font-size: 15px;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.li-fraqueza{
  width: 400px;
}
.p-fraqueza{
  font-size: 25px;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.p-fraqueza-value{
  font-size: 15px;
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.panel-heading-status{
  background-color: #1f1f1f !important;
}
.panel-nome{

  width: auto;
  height: 17px;
  display: inline-block;
  color: #fff !important;
}
.panel-numero{
  width: auto;
  height: 17px;
  display: inline-block;
  color: #fff !important;
}
.panel-status{
  width: 470px;
  height: 470px;
  float: right;
  margin-top: 10px;
  background: url(/assets/site/img/body_gray_bg.png);
}
.glyphicon-trash{
  float: right;
  padding-left: 5px;
  color: #fff;
}
.glyphicon-pencil{
  float: right;
  color: #fff;
}
.searchimg{
  margin: 0px !important;
}
/*-----------------------DETALHES--------------------------------------*/
.pesquisa{
      margin-top: -1px;
}
.img-center{
  margin: auto;
}
.cont-search{
  width: 226px !important;
  float: right !important;
}
body{
  font-family: 'volkhov' !important;
}
